.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  
}

.right-links {
  /* this removes the dots on the list items*/
  margin-left: auto;
  
}

.left-links {
  /* this removes the dots on the list items*/
  margin-right: auto;
}

a {
  font-size: 22px;
  background: white;
  padding: 0px;
  /* this removes the line under the links */
  text-decoration: none;

}